# Игнорирование временных файлов и каталого
*.swp
*~
*.log
*.tmp

# Игнорирование каталогов с бинарными файлами или кешем
bin/
build/
dist/

# Игнорирование файлов конфигурации
*.config

# Игнорирование файлов, созданных различными IDE и редакторами
.vscode/
.idea/

# Игнорирование локальных конфигурационных файлов
.env
